.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
  background-color: #f0f8ff;
}
